* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: white;
}

h1 {
    text-align: center;
    color: teal;
    margin-bottom: 3rem;
}

table {
    text-align: center;
    margin: 0 auto;
}

th, td {
    padding: 1rem;
    border: 1px solid white;
}

th {
    background-color: teal;
}

tr:hover td {
    color: black;
    background: white;
}

tbody tr:hover td {
    cursor: pointer;
}

nav button {
    all: unset;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1rem;
    gap: 1rem;
}

nav button:hover {
    cursor: pointer;
    color: teal;
}